:root {
    --gray : rgb(231,231,231);
    --Orange : rgb(255,150,58);
}

.Container {
    height: 100vh;
    background-color: rgb(245,245,245);
}

.LeftBar {
    max-width: 200px;
    height: 100vh;
    background-color: white;
    box-shadow: 2px 0 5px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 10px;
}


/* CSS Top */
.LeftBar__Top {
    position: relative;
}

.LeftBar__Top__Search {
    width: 100%;
    height: 50px;
}

.LeftBar__Top__Search button {
    border: none;
    background: none;
    outline: none;
    position: absolute;
    height: 100%;
    width: 20%;
    cursor: pointer;
}

.LeftBar__Top__Search button .IconSearch {
    font-size: 17px;
    color: rgb(137,137,137);
    transform: scaleX(-1);
}

.LeftBar__Top__Search input {
    border: none;
    background-color: var(--gray);
    border-radius: 10px;
    width: 100%;
    height: 100%;
    padding: 0 10px 0 19%;
    font-size: 15px;
}

/* End CSS Top */


/* CSS Middle */
.LeftBar__Mid {
    display: flex;
    flex-direction: column;
}

.LeftBar__Mid button {
    margin: 10px 0;
    height: 50px;
    border: none;
    background-color: var(--gray);
    border-radius: 10px;
    text-align: left;
    padding-left: 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.LeftBar__Mid .HomeIcon,
.LeftBar__Mid .BoxIcon,
.LeftBar__Mid .ThreeDotsIcon {
    font-size: 20px;
}

.LeftBar__Mid span {
    margin-left: 10px;
}

.LeftBar__Mid button.SelectedBtn {
    background-color: var(--Orange);
    color: white;
}
/* End CSS Middle */


/* CSS Bottom */
.LeftBar__Bottom {
    background-color: var(--gray);
    border-radius: 10px;
    height: 50px;
}

.LeftBar__Bottom__Account {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 5px 10px;
}

    /* 1. Avatar */
.LeftBar__Bottom__Account__Avatar {
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
}

.LeftBar__Bottom__Account__Avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

    /* End Avatar */

    
    /* 2. Text */
.LeftBar__Bottom__Account__Text {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.LeftBar__Bottom__Account__Text .Name {
    font-size: 14px;
}

.LeftBar__Bottom__Account__Text .CurrentAccount {
    font-size: 13px;
}

.LeftBar__Bottom__Account__Text .CurrentAccount.Online {
    color: rgb(0,255,80);
}
    /* End Text */


/* End CSS Bottom */